/* Variables
=============================================*/
$background: #f9f7f7;
$white: #ffffff;
$primary: #3f72af;
$secondary: #dbe2ef;
$dark: #112d4e;

$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";
$tablet-width: 768px;
$tablet-mid-width: 800px;
$desktop-width: 1024px;
$super-desktop-width: 1400px;
$mobile-width: 680px;
$small-mobile-width: 375px;