@import "./global.scss";

#contact {
  p {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
  }
}

.form-left,
.form-right {
  float: left;
  min-height: 1px;
  padding-right: 30px;
  position: relative;
  width: 40%;
}

.form-left {
  padding-left: 60px;
}

.form-right {
  padding-left: 15px;
}

.form {
  padding: 15px;
  background: $background;
  border: 1px solid $secondary;
  margin-bottom: 25px;
  color: $dark;
  transition: all 0.5s;
  width: 100%;

  &:focus {
    color: $dark;
    outline: none;
    border: 1px solid $primary;
  }
}

textarea {
  height: 158px;
  max-height: 158px;
  max-width: 100%;
  resize: none;
}

button, .button {
  height: auto;
  margin: auto;
  outline: none;
  padding: 15px;
  width: 180px;

  &:hover {
    background: $dark;
  }

  
}
