@import "global.scss";

nav {
  left: 0px;
  height: 80px;
  width: 100%;
  text-align: center;

  li {
    float: left;

    a {
      color: $dark;
      text-decoration: none;
      padding: 30px 30px;
      display: block;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
