@import "./global.scss";

.gallery {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.pic-container {
  left: 0;
  top: 0;
  max-width: 208px;
  height: 190px;
  width: 25%;
  padding: 10px;
}

.wrapper {
  border-radius: 4px;
  display: block;
  height: 0;
  padding-top: 154px;
  position: relative;
  width: 100%;
}

.overlay-content {
  color: $secondary;
  opacity: 0;
  transition: opacity 0.2s;
  background: linear-gradient(to bottom, transparent 0%, $dark 80%);
  margin-top: auto;
  padding: 40px 15px 18px;
  border-radius: 0 0 5px 5px;
  position: absolute;
  width: 178px;
  bottom: 0;
}

.img-cover {
  object-fit: cover;
  transition: opacity 0.15s linear;
  width: 100%;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;

  img {
    object-fit: cover;
    transition: opacity 0.15s linear;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
  }

  &:hover {
    .overlay-content {
      opacity: 1;
    }
  }
}

.info {
  display: flex;
  justify-content: space-between;
  min-height: 24px;
  padding: 10px 0;

  .client {
    font-size: 13px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
  }

  .links {
    padding-top: 3px;

    a {
      color: $primary;
      padding-left: 5px;
      transition: opacity 0.4s linear;

      &:hover {
        opacity: 0.6;
      }
    }
  }
}

.icon-key {
  width: 100%;
  text-align: right;
  margin-bottom: 35px;
}

.tooltip {
  position: relative;
  display: inline-block;
  margin-right: 10px;

  i {
    color: $primary;
    font-size: 25px;
  }

  .tooltiptext {
    visibility: hidden;
    width: 90px;
    background-color: $dark;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 26px;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;

    &:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: $dark transparent transparent transparent;
    }
  }

  &:hover {
    i {
      opacity: .7;
    }

    .tooltiptext {
      visibility: visible;
      opacity: 1;
    }
  }
}
